body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    flex-direction: column; /* 폼과 h1을 수직으로 정렬 */
}
form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
h1 {
    text-align: center;
    margin-bottom: 20px; /* h1과 폼 사이의 간격 추가 */
}
input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    width: calc(99%);
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

/* 입력 필드 스타일 */
.form-class {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 입력 필드 패딩을 포함하여 전체 크기를 계산합니다. */
}

/* 오류 메시지 스타일 */
.field-error {
    color: red;
    font-size: 14px;
}

.error-message {
    color: red;
    font-size: 16px;
    font-weight: bold;
}
