<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Form</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
<h1>로그인</h1>
<form th:action="@{/login}" th:object="${member}" method="post">
    <p>백준 ID <input type="text" th:field="*{userId}" /></p>
    <p>이름 <input type="text" th:field="*{username}" /></p>
    <p><button type="submit">접속</button></p>
    <p th:if="${param.error}" class="error-message" th:text="${param.error}"></p>
    <p>아직 회원이 아니신가요? <a href="/signup">회원가입</a>을 해주세요.</p>
</form>
</body>
</html>
