<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/signup}" th:object="${member}" method="post">
  <p>백준 ID <input type="text" th:field="*{userId}" /></p>
  <p>이름 <input type="text" th:field="*{username}" /></p>
    <p th:if="${param.error}" class="error-message" th:text="${param.error}"></p>
  <p><button type="submit">회원 가입</button></p>
</form>
</body>
</html>